body{
	padding-bottom: 70px;
}

.profile {
	background-color: #ebf5ff;	
}

.skill {
	background-color: #fff;
}

h1, h2, h3, h4, h5 {
	font-family: 'Malgun Gothic';
}

p, a, li, ul {
	font-size: 0.9rem;
	font-family: 'Malgun Gothic';
}

img {
	vertical-align: middle;
}

.profile-address {
	position: absolute;
	bottom: 0;
}

.profile-content{
	position: relative;
}


@media all and (min-width: 400px) and (max-width:1024px)
{
	.profile{
		text-align: center;
	}
	
	.profile-address{
		position: static;
	}
}