@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div>
    <form id="songForm">
        <table>
            <tr>
                <td><input type="text" name="urlRoute" /></td>
            </tr>
        </table>
    </form>
    <button id="register"/>
</div>

<script>

    $("#register").click(function () {
        $("#songForm").attr("action", "/Home/Register");
        $("#songForm").submit();
    });

</script>